<!DOCTYPE html>
<html ng-app="editMenu">
	<head>
		<title>city vegetarian</title>
	</head>
	<body>
		<h3>city vegetarian</h3>
		<div>
			<form name="mealForm" ng-controller="MealController as mealCtrl">
				<div ng-repeat="meal in mealCtrl.menuDay.meals">
					<ul>
						<li>
							<label>weight</label>
							<input type="text" ng-model="meal.weight"/>
							<label>base</label>
							<input type="text" ng-model="meal.base"/>
							<label>price</label>
							<input type="number" step="0.1" ng-model="meal.price"/>
							<ul>
								<div ng-repeat="variant in meal.variants">
								<li>
									<label>variant</label>
									<input type="text" ng-model="variant.variant"/>
									<a href ng-click="mealCtrl.removeVariant($parent.$index,$index)">X</a>
								</li>
								</div>
								<li>
									<a href ng-click="mealCtrl.addVariant($index)">add variant</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>